<mat-card class="login-form">
  <mat-card-title>Вход в приложение</mat-card-title>
  <hr>
  <mat-card-content>
    <form class="example-form" [formGroup]="form" (ngSubmit)="authentication()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Логин игрока</mat-label>
        <input matInput type="text" formControlName="username" placeholder="Введите ваш логин">
        <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
          Поле логина <strong>обязательно!</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content>
    <form class="example-form" [formGroup]="form" (ngSubmit)="authentication()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Пароль игрока</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Введите ваш пароль">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          Поле пароля <strong>обязательно!</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
          [disabled]="form.invalid || form.disabled"
          (click)="authentication()">Войти</button>
  </mat-card-actions>
</mat-card>

