<form class="card-autorization"
  [formGroup]="form"
  (ngSubmit)="register()">

  <div class="header">
    <header>Создание учетной записи</header>
  </div>
  <div class="input" >
    <a>Login</a>
    <input id = 'username'
           formControlName="username"
    >
    <div class="er">
      <span *ngIf="form.controls['username'].invalid && form.controls['username'].touched">Введите логин</span>
    </div>

  </div>
  <div class="input">
    <a>Password</a>
    <input id = 'password'
           type="password"
           formControlName="password"
    >
  </div>
  <div class="er">
    <span *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Введите пароль</span>
  </div>
  <button
    [disabled]="form.invalid || form.disabled"
    (click)="register()">Создать</button>
</form>


