<!--<div class="otherText">-->
<!--  <form [formGroup]="form">-->
<!--    <div class="p-4">-->
<!--      <div class="container">-->
<!--        <h1>Hi {{user.username}}!</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--    <table class="table table-striped">-->
<!--      <tbody>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <a>username</a>-->
<!--            <input type="text" formControlName="username" class="form-control">-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <a>Имя игрока</a>-->
<!--            <input type="text" formControlName="firstname" class="form-control">-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <a>Фамилия игрока</a>-->
<!--            <input type="text" formControlName="lastname" class="form-control">-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <a (click)="updateUser()" class="btn btn-sm btn-primary mr-1">Update</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </form>-->
<!--  <p>-->
<!--    <a class="btn btn-primary my-2" routerLink="../../game/create">Create Game</a>-->
<!--  </p>-->
<!--</div>-->

<mat-card>
  <mat-card-title>Персональная страница игрока {{user.username}}.</mat-card-title>
  <mat-card-subtitle>Информация об игроке</mat-card-subtitle>
  <mat-card-content>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Имя игрока</mat-label>
        <input matInput type="text" formControlName="firstname" placeholder="Введите ваше имя">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Фамилия игрока</mat-label>
        <input matInput type="text" formControlName="lastname" placeholder="Введите вашу фамилию">
      </mat-form-field>
    </form>
  </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateUser()">Обновить информацию</button>
<!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
</mat-card>
