.card-autorization {
  margin-top: 350px;
  margin-left: 40%;
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  max-height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #000000;
}

.input {
  margin-top: 8px;
  flex-wrap: wrap;
  width:100%;
}
.er {
  margin-top: 8px;
  width:100%;
  color: red;
}

.header {
  margin-top: 8px;
  flex-wrap: wrap;
  width:100%;
}
